@font-face {
  font-family: "OhMyNotes";
  src: url("fonts/OhMyNotes.woff2") format("woff2"),
    url("fonts/OhMyNotes.woff") format("woff");
}

@font-face {
  font-family: "SundayTime";
  src: url("fonts/SundayTime.woff2") format("woff2"),
    url("fonts/SundayTime.woff") format("woff");
}

@font-face {
  font-family: "RobotoMedium";
  src: url("fonts/Roboto-Medium.woff2") format("woff2"),
    url("fonts/Roboto-Medium.woff") format("woff");
}

@font-face {
  font-family: "RobotoBlack";
  src: url("fonts/roboto.black.woff2") format("woff2"),
    url("fonts/roboto.black.woff") format("woff");
}

:root {
  --primary-color: rgb(0, 0, 0);
  --secondary-color: rgb(244, 244, 171);
  --linear-background: linear-gradient(to top left, #973ab7, #009688, #4caf50);
  --dashed-border-black: 1px dashed #000;
  --dashed-border-yellow: 1px dashed rgb(244, 244, 171);
  --header-gradient-background: radial-gradient(
    at left top,
    rgba(63, 134, 192, 1),
    rgba(222, 229, 157, 1)
  );
  --nav-gradient-background: linear-gradient(
    315deg,
    rgba(107, 213, 238, 1),
    rgba(140, 113, 155, 1)
  );
  --main-container-background-color: #eaeef7;
  --add-btn-background-gradient: linear-gradient(135deg, #d74368, #e04463);
  --main-box-shadow: 0 2px 5px #000;
  --inset-box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  --toggle-btn-box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  --buttons-text-shadow: 0 3px 6px rgba(0, 0, 0, 0.2),
    0 6px 12px rgba(0, 0, 0, 0.1);
  --logo-text-shadow: 0 0 4px #c28073, 0 0 8px #c28073, 0 0 16px #e13358;
  --logo-3D-text-shadow: 1px 1px #000000, 2px 2px #111111, 3px 3px #222222,
    4px 4px #333333;
  --nav-menu-text-shadow: 0 0 4px #00ffff, 0 0 8px #00ffff, 0 0 16px #ff00ff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: "RobotoMedium";
  line-height: 1.5;
  height: 100%;
}

/* Header */

header {
  position: fixed;
  width: 100%;
  height: 70px;
  background: var(--header-gradient-background);
  color: var(--secondary-color);
  border-bottom: var(--dashed-border-yellow);
  box-shadow: var(--main-box-shadow);
  z-index: 1;
}

#header {
  display: flex;
  justify-content: space-between;
  line-height: 70px;
  transition: margin-left 0.5s;
}

.logo {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 7px;
  left: 45px;
}

.logo-text {
  font-family: "RobotoBlack";
  text-shadow: var(--logo-text-shadow);
}

.logo i {
  margin-right: 10px;
  color: var(--secondary-color);
  text-shadow: var(--logo-3D-text-shadow);
}

.toggle-menu {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 18px;
  left: 200px;
}

#toggle-btn {
  width: 40px;
  height: 40px;
  font-size: 18px;
  background: rgba(140, 113, 155, 1);
  box-shadow: var(--inset-box-shadow);
  border: var(--dashed-border-yellow);
  cursor: pointer;
  color: var(--secondary-color);
  transition: linear 0.2s;
}

#toggle-btn svg {
  text-shadow: var(--buttons-text-shadow);
}

#toggle-btn:hover {
  background: var(--secondary-color);
  box-shadow: var(--toggle-btn-box-shadow);
  color: #8721db;
}

/* Sidebar Menu */

nav {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  position: fixed;
  width: 200px;
  height: 100%;
  z-index: 100;
  color: var(--secondary-color);
  background: var(--nav-gradient-background);
  transition: ease-in 0.3s;
}

nav.hide {
  width: 0;
}

#sidebar {
  padding-top: 20px;
  width: 100%;
  height: 100%;
  list-style: none;
  overflow: hidden;
  box-shadow: var(--main-box-shadow);
  border-right: var(--dashed-border-yellow);
}

.sidebar-options {
  width: 100%;
  list-style: none;
  font-family: "RobotoMedium";
  font-family: "OhMyNotes";
}

.sidebar-options li {
  text-align: center;
  width: 100%;
}

.sidebar-options li a {
  display: inline-flex;
  align-items: center;
  width: 95%;
  padding: 5px 10px;
  color: var(--secondary-color);
  text-shadow: var(--nav-menu-text-shadow);
  text-decoration: none;
  font-size: 20px;
  transition: ease-in 0.2s;
  border: var(--dashed-border-yellow);
  box-shadow: var(--main-box-shadow);
}

.sidebar-options li a i {
  margin: 0 10px;
  width: 20px;
}

.sidebar-options li a:hover,
.sidebar-options li a:active {
  color: var(--secondary-color);
  text-shadow: var(--buttons-text-shadow);
  background: rgb(109, 152, 162);
  box-shadow: var(--inset-box-shadow);
}

.projects-add {
  margin-top: 30px;
  text-align: center;
  width: 100%;
}

#add-project-btn {
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 8px;
  font-family: "RobotoMedium";
  cursor: pointer;
  border: var(--dashed-border-yellow);
  box-shadow: var(--main-box-shadow);
  color: var(--secondary-color);
  background: var(--add-btn-background-gradient);
}

#add-project-btn:hover {
  box-shadow: var(--inset-box-shadow);
  background: var(--nav-gradient-background);
  color: var(--secondary-color);
  text-shadow: var(--buttons-text-shadow);
}

.projects-add i {
  padding-left: 8px;
}

/* Main Container */

#main-container {
  position: absolute;
  top: 70px;
  left: 200px;
  background-color: var(--main-container-background-color);
  width: calc(100% - 200px);
  height: 100%;
  transition: ease-in 0.3s;
}

#main-container.expand {
  width: 100%;
  height: 100%;
  left: 0;
}

#main-content {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  background-color: var(--main-container-background-color);
}

/* Form Modals */

.hidden {
  display: none;
}

#modal {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: var(--header-gradient-background);
}

.modal-form {
  text-align: center;
  background-color: #fefefe;
  margin: 10% auto;
  border: 1px solid #888;
  width: 35%;
  border: var(--dashed-border-black);
  background-color: rgb(109, 152, 162);
}

.modal-form-container {
  font-family: "SundayTime";
}

.modal-title {
  margin-bottom: 15px;
  background-color: var(--secondary-color);
  padding: 15px;
  font-family: "OhMyNotes";
  box-shadow: var(--main-box-shadow);
  text-shadow: 0 0 4px rgb(109, 152, 162), 0 0 8px rgb(109, 152, 162);
}

input[type="text"],
input[type="date"],
#todo-priority-select {
  width: 80%;
  padding: 8px;
  border: 3px dashed rgb(109, 152, 162);
  border-radius: 8px;
  outline: none;
  font-family: "SundayTime";
}

#todo-priority-select {
  text-shadow: var(--nav-menu-text-shadow);
}

input[type="text"]:focus,
input[type="date"]:focus,
#todo-priority-select:focus {
  box-shadow: var(--main-box-shadow);
}

#todo-priority-select option {
  color: rgb(109, 152, 162);
  text-shadow: none;
  background-color: var(--secondary-color);
}

.modal-form-container > div > h3 {
  margin-bottom: 8px;
}

textarea {
  width: 80%;
  height: 150px;
  outline: none;
  border: 3px dashed rgb(109, 152, 162);
  font-family: "SundayTime";
  padding: 8px;
}

textarea:focus {
  box-shadow: var(--main-box-shadow);
}

.project-name-form,
.project-description-form,
.project-color-form {
  padding-top: 8px;
  padding-bottom: 15px;
  font-size: 0.9rem;
  color: var(--secondary-color);
  text-shadow: var(--logo-3D-text-shadow);
}

.project-color-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-input-text {
  padding-right: 16px;
}

.modal-form-submit,
.modal-form-close {
  margin-top: 15px;
  padding: 10px;
  font-size: 1.3rem;
  font-family: "OhMyNotes";
  margin-bottom: 18px;
  background-color: var(--secondary-color);
  border: none;
  box-shadow: var(--main-box-shadow);
  border-radius: 8px;
  cursor: pointer;
}

.modal-form-submit {
  margin-right: 15px;
}

.modal-form-submit:hover,
.modal-form-close:hover {
  box-shadow: var(--inset-box-shadow);
  color: var(--secondary-color);
  background-color: var(--nav-gradient-background);
}

.todo-name-text,
.todo-duedate-text,
.todo-priority-text {
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 0.9rem;
  color: var(--secondary-color);
  text-shadow: var(--logo-3D-text-shadow);
}

/* All Projects Page */

.page-header {
  width: 100%;
  background: var(--nav-gradient-background);
  color: var(--secondary-color);
  margin-bottom: 15px;
}

.page-title {
  font-family: "RobotoBlack";
  text-shadow: var(--logo-text-shadow);
  padding: 20px;
  text-align: center;
}

.cards-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project-card {
  width: 70%;
  word-break: break-all;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  box-shadow: var(--main-box-shadow);
  margin-bottom: 18px;
  border-radius: 8px;
}

.project-title {
  width: 100%;
  margin-top: 8px;
  padding: 10px;
  text-align: center;
  background-color: rgb(109, 152, 162);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: var(--secondary-color);
}

.tasks-number {
  width: 100%;
  background-color: rgb(242, 255, 195);
  text-align: center;
  border-bottom: var(--dashed-border-black);
}

.project-description {
  width: 100%;
  height: 98%;
  padding: 10px;
  text-align: center;
  word-break: break-all;
  background-color: rgb(242, 255, 195);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

/* Single Project Page */

.project-page {
  width: 100%;
  height: auto;
}
.project-page .page-header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--nav-gradient-background);
  border-bottom: var(--dashed-border-black);
  margin-bottom: 0;
}

.project-name-header {
  width: 90%;
  margin-top: 15px;
  color: var(--secondary-color);
  text-align: center;
  word-break: break-all;
  text-shadow: var(--logo-text-shadow);
}
.project-description-header {
  width: 90%;
  margin-top: 10px;
  color: var(--secondary-color);
  text-align: center;
  word-break: break-all;
}

.project-edit,
.project-delete {
  margin-top: 15px;
  padding: 10px;
  width: 100px;
  font-size: 1.3rem;
  font-family: "OhMyNotes";
  margin-bottom: 18px;
  background-color: var(--secondary-color);
  border: none;
  box-shadow: var(--main-box-shadow);
  border-radius: 8px;
  cursor: pointer;
}

.project-edit {
  margin-right: 15px;
}

.project-edit:hover,
.project-delete:hover {
  box-shadow: var(--inset-box-shadow);
  color: var(--secondary-color);
  background-color: var(--nav-gradient-background);
}

/* ToDos Section */

.todos-section {
  width: 100%;
}

.todos-section-actions {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-todo-btn {
  margin-top: 10px;
  padding: 10px;
  cursor: pointer;
  font-family: "OhMyNotes";
  font-size: 1.3rem;
  margin-bottom: 18px;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  box-shadow: var(--main-box-shadow);
  outline: none;
  border: var(--dashed-border-yellow);
  border-radius: 8px;
}

.add-todo-btn:hover {
  box-shadow: var(--inset-box-shadow);
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: var(--dashed-border-black);
}

.todos-container {
  width: 100%;
}

.all-todos {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}

.todo-card {
  width: 80%;
  height: auto;
  margin-bottom: 8px;
}

.todo-content {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 36px;
  margin-top: 8px;
  margin-bottom: 8px;
  border: var(--dashed-border-black);
  background-color: var(--main-container-background-color);
  box-shadow: var(--inset-box-shadow);
}

.todo-project-label {
  height: auto;
  text-align: center;
  padding: 2px 5px;
  font-size: 0.9rem;
  word-break: break-all;
  background: var(--header-gradient-background);
  color: var(--secondary-color);
}

.todo-name-container {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 4px;
  border: var(--dashed-border-black);
  border-radius: 8px;
}

.todo-name-container,
.todo-duedate-container,
.todo-priority-container,
.todo-actions {
  justify-content: center;
}

.todo-name {
  word-break: break-all;
  padding: 4px;
  text-align: center;
}

.todo-actions {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.todo-actions i {
  font-size: 26px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  box-shadow: var(--main-box-shadow);
  background-color: var(--main-container-background-color);
}

.todo-actions i:hover {
  box-shadow: var(--inset-box-shadow);
  color: var(--secondary-color);
  text-shadow: var(--nav-menu-text-shadow);
}

i.fa-pen-to-square {
  color: #b98cf5;
  margin-right: 20px;
}

i.fa-trash {
  color: #e8587c;
}

.todo-duedate {
  color: #0016a5;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 0.9rem;
  text-shadow: var(--logo-text-shadow);
}

.todo-priority-container {
  margin: 8px;
  border: var(--dashed-border-black);
  border-radius: 8px;
}

.todo-priority {
  font-size: 0.9rem;
  padding: 8px;
  color: var(--secondary-color);
}
